<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voicecal.mapper.CalendarEventMapper">

    <select id="selectByUserIdAndTimeRange" resultType="com.voicecal.entity.CalendarEvent">
        SELECT * FROM calendar_event
        WHERE user_id = #{userId}
          AND start_time &lt;= #{endTime}
          AND end_time &gt;= #{startTime}
        ORDER BY start_time ASC
    </select>

</mapper>
